# 판다스
---

In [1]:
# !pip install pandas --upgrade

Requirement already satisfied: pandas in c:\users\019\anaconda3\envs\flyai\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.20.3 in c:\users\019\anaconda3\envs\flyai\lib\site-packages (from pandas) (1.21.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\019\anaconda3\envs\flyai\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\019\anaconda3\envs\flyai\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\019\anaconda3\envs\flyai\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [27]:
import pandas as pd
import numpy as np
pd.__version__

'1.4.4'

![](https://www.runoob.com/wp-content/uploads/2021/04/df-dp.png)

## Series

In [8]:
sr = pd.Series([1,2,3,4,5],name='Apple')
print(sr)

0    1
1    2
2    3
3    4
4    5
Name: Apple, dtype: int64

In [10]:
print(sr.index)
print(sr.shape)

RangeIndex(start=0, stop=5, step=1)
(5,)

In [13]:
sr[1:3]

1    2
2    3
Name: Apple, dtype: int64

In [16]:
sr = pd.Series([1,2,3,4,5],name='Apple',index=['a','b','c','d','e'])
sr

a    1
b    2
c    3
d    4
e    5
Name: Apple, dtype: int64

In [24]:
sr.index,sr.values,sr.to_numpy()

(Index(['a', 'b', 'c', 'd', 'e'], dtype='object'),
 array([1, 2, 3, 4, 5], dtype=int64),
 array([1, 2, 3, 4, 5], dtype=int64))

In [25]:
sr.reset_index()

  index  Apple
0     a      1
1     b      2
2     c      3
3     d      4
4     e      5

In [28]:
sr = pd.Series([1,np.nan,2,3,np.nan,4,5]) #np.nan 값이 없음을 뜻함